<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body ng-app="roleApp" ng-controller="roleController">
	<!-- Header -->
	<div th:replace="admin/fragments/header :: header"></div>
	<div class="container-fluid">
		<div th:replace="admin/fragments/authorityLeft :: authorityLeft"></div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">新添加一个角色</a>
					</div>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						<div>
							<input type="text" ng-model="role.name" placeholder="请输入你将建立的角色名称"></input>
						</div>
						<div style="padding: 8px">
							你将建立的角色是
							<mark> {{role.name}}</mark>
						</div>
					</div>
					<div class="panel-footer">
						<button ng-click="saveRole(role.name)">保存</button>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<ul class="list-group">
						<li style="padding:6px" ng-repeat="role in roleIter " ng-model="role.id">
							<button class="btn btn-default">
								<span>{{role.name}}</span>
							</button>
							<button type="button" ng-click="deleteNode(bookNodeIter,node1,$index)" class="btn btn-default btn-xs" aria-label="Left Align">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript">
	var roleApp = angular.module("roleApp", []);
	roleApp.controller("roleController", function($scope, $http) {
		$scope.saveRole = function(name) {
			$http({
				url : "/admin/authority/role",
				method : "post",
				data : {
					'name' : name
				}
			}).success(function(response) {
				$scope.findRoles();
			})
		};
		$scope.findRoles = function() {
			$http.get('/admin/authority/roles').success(function(response) {
				$scope.roleIter = response;
			});
		};
		$scope.findRoles();
	})
</script>
</html>