<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body ng-app="authorityApp" ng-controller="authorityController">
	<!-- Header -->
	<div th:replace="admin/fragments/header :: header"></div>
	<div class="container-fluid">
		<div th:replace="admin/fragments/authorityLeft :: authorityLeft"></div>
		<div class="col-md-10">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<table class="table">
						<thead>
							<tr>
								<td>ID</td>
								<td>权限名称</td>
								<td>权限标识</td>
								<td>操作</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="authority in authoritys" ng-model="authority">
								<td>{{authority.id}}</td>
								<td>{{authority.name}}</td>
								<td>{{authority.sign}}</td>
								<td><button ng-click="toShowAuthority(authority)" class="btn btn-default" data-toggle="modal"
										data-target=".bs-example-modal-lg">修改</button> <a class="btn btn-default">冻结</a>
									<button class="btn btn-default" ng-click="deleteAuthority(authority)">删除</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<div>
						<input type="text" ng-model="authority.name" placeholder="请输入你将建立的权限名称"></input>
					</div>
					<div>
						<input type="text" ng-model="authority.sign" placeholder="请输入你将建立的权限标识"></input>
					</div>
					<div style="padding: 8px">你将建立的权限是{{authority.name}}{{authority.sign}}</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button ng-click="updateAuthority(authority)" type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript">
	var authorityApp = angular.module("authorityApp", []);
	authorityApp.controller("authorityController", function($scope, $http) {
		$http.findPage = function() {
			$http.get("/admin/authority/authoritys").success(
					function(response) {
						$scope.authoritys = response;
					});
		};
		$scope.add = function() {
			var authority = {
				'name' : '请输入权限名称',
				'sign' : '请输入权限标记',
				'depth' : 1
			}
			$scope.authoritys.push(authority);
		};
		$scope.save = function(authority) {
			$http({
				url : "/admin/authority/authority",
				method : "post",
				data : angular.toJson(authority)
			}).success(function() {
				$http.findPage();
			})
		};
		$scope.toShowAuthority = function(authority) {
			$scope.authority = authority;
		};
		$scope.updateAuthority = function(authority) {
			$http({
				url : "/admin/authority/authority",
				method : "put",
				data : angular.toJson(authority)
			}).success(function() {
				$http.findPage();
			})
		};
		$scope.deleteAuthority = function(authority) {
			$http({
				url : "/admin/authority/authority/" + authority.id,
				method : "delete"
			}).success(function() {
				$http.findPage();
			})
		};

		$http.findPage();
	});
</script>
</html>