<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
	<div style="padding: 50px" class="col-md-offset-2 col-md-7">
		<h2>
			<ul class="list-group">
				<li class="list-group-items"><a href="/basic/jindu">进度条展示</a></li>
				<li class="list-group-items"><a href="/basic/fenzukuang">分组框</a></li>
				<li class="list-group-items"><a href="/basic/tab">标签页</a></li>
				<li class="list-group-items"><a href="/basic/warning">警告框</a></li>
				<li class="list-group-items"><a href="/basic/h5basic">H5基础元素</a></li>
				<li class="list-group-items"><a href="/basic/fenzukuang">分组框</a></li>
				<li class="list-group-items"><a href="/basic/tab">标签页</a></li>
				<li class="list-group-items"><a href="/basic/warning">警告框</a></li>
			</ul>
		</h2>
	</div>
</body>
</html>