<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="authorityLeft">
		<div class="col-md-2">
			<a class="list-group-item" href="/admin/authority/roleIndex">角色管理</a>
			<a class="list-group-item" href="#userManager" data-toggle="collapse">用户管理</a>
			<ul id="userManager" class="collapse">
				<li style="padding: 9px">
					<a href="/admin/authority/userIndex">用户列表</a>
				</li>
				<li>
					<a href="/admin/authority/userAddIndex">添加用户</a>
				</li>
			</ul>
			<a class="list-group-item" href="#">组织机构管理</a>
			<a class="list-group-item" href="#">联盟管理</a>
			<a class="list-group-item" href="/admin/authority/authorityIndex">权限管理</a>
			<a class="list-group-item" href="/admin/authority/roleAuthorityIndex">权限分配</a>
		</div>
	</div>
</body>
</html>