<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="authorityLeft">
		<div class="col-md-2">
			<a class="list-group-item" href="/admin/authority/roleIndex">角色管理</a>
			<a class="list-group-item" href="#">用户管理</a>
			<a class="list-group-item" href="#">组织机构管理</a>
			<a class="list-group-item" href="#">联盟管理</a>
			<a class="list-group-item" href="/admin/authority/authorityIndex">权限管理</a>
			<a class="list-group-item" href="#">权限分配</a>
		</div>
	</div>
</body>
</html>