<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="baseDataLeft">
		<div class="col-md-2">
			<a class="list-group-item" href="/admin/baseData/subjectIndex">学科管理</a>
			<a class="list-group-item" href="/admin/baseData/versionIndex">教材版本</a>
			<a class="list-group-item" href="/admin/baseData/textBookIndex">教材册别</a>
			<a class="list-group-item" href="/admin/baseData/bookNodeIndex">教材章节</a>
			<a class="list-group-item" href="/admin/baseData/knowledgePointIndex">知识点管理</a>
			<a class="list-group-item" href="/admin/baseData/NodeKonwledgeIndex">章节与知识点管理</a>
			<a class="list-group-item" href="#">地区管理</a>
		</div>
	</div>
</body>
</html>