<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body ng-app="versionApp">
	<!-- Header -->
	<div th:replace="admin/fragments/header :: header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Brand</a>
				</div>
				<div class="collapse navbar-collapse">
					<li><a href="#">首页</a></li>
					<li><a href="#">资料库</a></li>
					<li><a href="#">试题库</a></li>
				</div>
			</div>
		</nav>
	</div>

	<div class="container-fluid">
		<div th:replace="admin/fragments/baseDataLeft :: baseDataLeft">
			<div class="col-md-2">
				<a class="list-group-item" href="#">学科管理</a> <a class="list-group-item" href="#">教材版本</a> <a class="list-group-item" href="#">教材册别</a> <a class="list-group-item" href="#">地区管理</a>
			</div>
		</div>
		<div class="col-md-10">
			<div>
				<button>上传自定义的章节</button>
			</div>
			<div class="panel panel-default" style="padding: 16px" ng-controller="versionCtrl">

				<div class="panel-heading">
					<select ng-change="changeStage(stage)" ng-model="stage">
						<option value="1">小学</option>
						<option value="2">初中</option>
						<option value="3">高中</option>
					</select>
					<select ng-change="changeSubject(subjectId)" ng-model="subjectId" ng-options="subject.id as subject.subjectName for subject in subjectIter">
					</select>
					<select ng-change="changeVersion(versionId)" ng-model="versionId" ng-options="version.id as version.versionName for version in versionIter">
					</select>
					<select ng-change="changeBook(bookId)" ng-model="bookId" ng-options="book.id as book.bookName for book in bookIter">
					</select>
				</div>
				<div class="panel-body">
					<button ng-click="addNode()" class="btn btn-default">添加</button>
					<button class="btn btn-default">修改</button>
					<button class="btn btn-default">删除</button>
				</div>
				<div style="padding: 16px" class="container">
					<ul class="nodeList" ng-repeat="node1 in bookNodeIter">
						<span ng-show="!tag.edit" ng-click="bindNode(node1)" ng-dblclick="tag.edit = true">{{node1.name}}</span>
						<input type="text" ng-blur="tag.edit = false" ng-show="tag.edit" ng-model="node1.name" />
						<ul ng-repeat="node2 in node1.bookNodeList">
							<a ng-click="bindNode(node2)" ng-model="node2">{{node2.name}}</a>
						</ul>
					</ul>
				</div>
				<div class="panel-footer">
					<button>保存</button>
					<p>{{text}}</p>
				</div>
			</div>
		</div>

	</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script th:href="@{/js/pagination.js}"></script>
<script>
	var subjectApp = angular.module("versionApp", []);
	subjectApp.controller("versionCtrl", function($scope, $http) {
		$scope.stage = '1';
		$scope.subjectId = 101;
		$http.get('/common/stage/' + $scope.stage + '/subjects').success(
				function(response) {
					$scope.subjectIter = response;
					if (response != null) {
						$scope.datas = angular.fromJson(response);
						$scope.subjectId = $scope.datas[0].id;
						$scope.changeSubject($scope.subjectId);
					}
				});

		$scope.changeStage = function(stage) {
			$http.get('/common/stage/' + stage + '/subjects').success(
					function(response) {
						$scope.subjectIter = response;
						if (response != null) {
							$scope.datas = angular.fromJson(response);
							$scope.subjectId = $scope.datas[0].id;
							$scope.changeSubject($scope.subjectId);
						}
					})
		};
		$scope.changeSubject = function(subjectId) {
			$http.get('/common/subject/' + subjectId + '/versions').success(
					function(response) {
						$scope.versionIter = response;
						if (response != null) {
							$scope.datas = angular.fromJson(response);
							$scope.versionId = $scope.datas[0].id;
							$scope.changeVersion($scope.versionId);
						}
					});
		};
		$scope.changeVersion = function(versionId) {
			$http.get('/common/version/' + versionId + '/textbooks').success(
					function(response) {
						$scope.bookIter = response;
						if (response != null) {
							$scope.datas = angular.fromJson(response);
							$scope.bookId = $scope.datas[0].id;
							$scope.changeBook($scope.bookId);
						}
					});
		};
		$scope.changeBook = function(bookId) {
			$http.get('/common/textbook/' + bookId + '/booknodes').success(
					function(response) {
						$scope.bookNodeIter = response;
					});
		};
		$scope.bindNode = function(node) {
			$scope.node = node;
		};
		$scope.addNode = function() {
			var bookNode = {
				'textBook' : $scope.textBook,
				'depth' : '1',
				name : '请修改名称'
			}

			if ($scope.node != null) {
				angular.forEach($scope.bookNodeIter, function(node) {
					if (node.id == $scope.node.id)
						node.bookNodeList.push(bookNode);
				});
			} else
				$scope.bookNodeIter.push(bookNode);
		};
	});
</script>
</html>