<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body ng-app="versionApp">
	<!-- Header -->
	<div th:replace="admin/fragments/header :: header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Brand</a>
				</div>
				<div class="collapse navbar-collapse">
					<li><a href="#">首页</a></li>
					<li><a href="#">资料库</a></li>
					<li><a href="#">试题库</a></li>
				</div>
			</div>
		</nav>
	</div>

	<div class="container-fluid">
		<div th:replace="admin/fragments/baseDataLeft :: baseDataLeft">
			<div class="col-md-2">
				<a class="list-group-item" href="#">学科管理</a> <a class="list-group-item" href="#">教材版本</a> <a class="list-group-item" href="#">教材册别</a> <a class="list-group-item" href="#">地区管理</a>
			</div>
		</div>
		<div class="col-md-10">
			<div ng-controller="versionCtrl">
				<div>
					<select ng-change="changeStage(stage)" ng-model="stage">
						<option value="1">小学</option>
						<option value="2">初中</option>
						<option value="3">高中</option>
					</select>
					<select ng-change="changeSubject(subjectId)" ng-model="subjectId" ng-options="subject.id as subject.subjectName for subject in subjectIter">
					</select>
					<select ng-change="changeVersion(versionId)" ng-model="versionId" ng-options="version.id as version.versionName for version in versionIter">
					</select>
				</div>
				<div class="container">
					<table class="table">
						<thead>
							<tr>
								<td>ID</td>
								<td>学段</td>
								<td>科目</td>
								<td>版本名称</td>
								<td>教材名称</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="textBook in textBookPage.content" ng-model="version1">
								<td>{{textBook.id}}</td>
								<td ng-if="textBook.subject.stage==1">小学</td>
								<td ng-if="textBook.subject.stage==2">初中</td>
								<td ng-if="textBook.subject.stage==3">高中</td>
								<td>{{textBook.subject.subjectName}}</td>
								<td>{{textBook.version.versionName}}</td>
								<td>{{textBook.bookName}}</td>
							</tr>
						</tbody>
					</table>
					<nav>
						<ul class="pagination">
							<li><a ng-click="changeVersion(number-2)" ng-if="number &gt; 1">{{number-1}}</a></li>
							<li><a ng-click="changeVersion(number-1)" ng-if="number &gt; 0">{{number}}</a></li>
							<li><a ng-click="changeVersion(number)">{{number+1}}</a></li>
							<li><a ng-click="changeVersion(number+1)">{{number+2}}</a></li>
							<li><a ng-click="changeVersion(number+2)">{{number+3}}</a></li>
							<li><a ng-click="changeVersion(number+3)" ng-if="number &lt; 2">{{number+4}}</a></li>
							<li><a ng-click="changeVersion(number+4)" ng-if="number &lt; 1">{{number+5}}</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

	</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script th:href="@{/js/pagination.js}"></script>
<script>
	var subjectApp = angular.module("versionApp", []);
	subjectApp.controller("versionCtrl", function($scope, $http) {
		if ($scope.stage == null)
			$scope.stage = 0;
		if ($scope.subjectId == null)
			$scope.subjectId = 0;
		if ($scope.versionId == null)
			$scope.versionId = 0;
		if ($scope.number == null)
			$scope.number = 0;
		$http({
			method : 'GET',
			url : '/admin/textBook/getTextBookPage',
			params : {
				'stage' : $scope.stage,
				'subjectId' : $scope.subjectId,
				'versionId' : $scope.versionId,
				'number' : $scope.number
			}
		}).success(function(response) {
			$scope.textBookPage = response;
			$scope.number = response.number;
		});
		$scope.changeStage = function(stage) {
			$http.get("/admin/subject/getSubject/" + stage).success(
					function(response) {
						$scope.subjectIter = response;
						$scope.number = 0;
					});
			$scope.subjectId = 0;
			$http({
				method : 'GET',
				url : '/admin/version/getVersionPage',
				params : {
					'stage' : $scope.stage,
					'subjectId' : $scope.subjectId,
					'number' : $scope.number
				}
			}).success(function(response) {
				$scope.versionPage = response;
				$scope.number = response.number;
			});
		};
		$scope.changeSubject = function(subjectId) {
			$http.get("/teacher/resource/getVersion/" + subjectId).success(
					function(response) {
						$scope.versionIter = response;
					});
		};
		$scope.changeVersion = function(number) {
			$http({
				method : 'GET',
				url : '/admin/version/getVersionPage',
				params : {
					'stage' : $scope.stage,
					'subjectId' : $scope.subjectId,
					'number' : number
				}
			}).success(function(response) {
				$scope.versionPage = response;
				$scope.number = response.number;
			});
		};
	});
</script>
</html>